/* .cell {
    composes: cell from './table.css';
} */

.table {
    width: 400px;
    background: pink;
}

.cell {
    float: left; width: 154px; background: #eee; padding: 10px; margin: 10px 0 10px 10px;
}

.row {
  
}
