/* .cell {
    composes: cell from './table.css';
} */
.table-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table {
}

.cell {
    float: left; background: #eee; padding: 10px; margin: 10px 0 10px 10px;
}

.row {

}
